.ctn {
  /* background-image: url(../../img/poke3.jpg); */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tittle {
  cursor: pointer;
	text-align: center;
	color: #14141449;
  font-size: 5em;
  letter-spacing: 6px;
  text-shadow: 0 0 5px rgb(255, 255, 0), 0 0 10px rgb(255, 251, 0),
    0 0 20px rgb(240, 225, 13), 0 0 40px rgb(243, 255, 79),
    0 0 80px rgb(240, 243, 70), 0 0 90px rgb(214, 228, 23),
    0 0 100px rgb(223, 219, 28), 0 0 140px rgb(224, 246, 22),
    0 0 180px rgb(234, 255, 49);
}

.tittle:hover{
  
  font-size: 16em;
}


