.cont {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-around;
}

.title {
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 3px;
}

.label {
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 15px;
}

.select {
  border: none;
  height: 15px;
}
